<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Acerca de nosotros</title>
</head>
<body>
    <header>
        <img width="400" height="300" src="../img/header.jpg" alt="Foto de edificios">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/redesSociales.html">Redes sociales</a></li>
                <li><a href="../views/trabajaConNosotros.html">Trabaja con nosotros</a></li>
                <li><a href="../views/proyectosEnConstrucción.html">Proyectos en construcción</a></li>
                <li><a href="../views/obrasEjecutadas.html">Obras ejecutadas</a></li>
            </ul>
        </nav>
        <h1>EMPRESA CONSTRUCTORA SGN</h1>
    <h2>
        ACERCA DE NOSOTROS
    </h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit felis montes congue, ridiculus urna tempus mollis dignissim lacus dictum ut in, natoque nisl enim litora tristique semper nullam purus suspendisse. Auctor facilisis tristique dignissim senectus sem nec sagittis vivamus per pharetra curae, cras tortor morbi sollicitudin mauris est aptent litora cum tincidunt, nibh enim massa sapien integer justo nulla magnis tempor quisque. Duis metus maecenas nascetur ornare lacus potenti sociosqu praesent sagittis ad, netus ultrices fames tristique tempor dapibus velit pretium commodo accumsan, mattis sed vitae curae primis litora et lobortis mi. Dictumst eleifend hendrerit integer convallis magna gravida commodo magnis lectus porttitor maecenas, turpis mi euismod primis aenean viverra volutpat consequat duis vivamus felis, ultricies in morbi facilisi cursus placerat ridiculus conubia iaculis semper.
    </p>
    <p>Primis potenti tortor quam mi inceptos at cras varius vitae et parturient, vel magnis enim facilisi ligula natoque habitasse egestas mus hendrerit aenean iaculis, suscipit conubia venenatis ultricies eros ultrices est sollicitudin tristique porta. Cum per tristique torquent risus netus sem proin orci pellentesque sagittis senectus, ornare natoque tempor leo euismod volutpat ridiculus massa rhoncus. Eget nunc ullamcorper tincidunt odio pellentesque vehicula mauris commodo, id praesent taciti nostra massa tellus faucibus, condimentum varius posuere habitant vitae potenti platea. Vehicula et massa posuere accumsan augue dictum nibh, habitasse elementum dapibus enim sem venenatis, curae netus dignissim aptent phasellus molestie.
    </p>
    <p>Lacinia facilisi vehicula consequat aliquam fusce eros phasellus tellus, pretium montes orci ullamcorper hac euismod class sem, luctus faucibus et scelerisque dapibus tincidunt enim. Vivamus aptent platea nisl ut quam vulputate venenatis penatibus, primis porttitor ultricies scelerisque mattis sed consequat ac, et eget cum auctor lacinia ad dis. Suscipit commodo id sed semper gravida cursus nullam primis, vehicula posuere tempus leo ornare donec odio, magnis neque cubilia molestie est eu viverra.
    </p>

    <img src="../img/jefesDeObra.jpg" alt="Jefes de obra mirando plano de construcción" class="jefesDeObra">
</body>

<footer>
    <a href="">Tel: 0261-42558456</a>
   <div> <a href="https://es-la.facebook.com/">https://es-la.facebook.com/</a> </div>
   <div><a href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a></div>
    <div> <a href="https://www.instagram.com/">https://www.instagram.com/</a></div>

</footer>

</html>
