<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Obras ejecutadas</title>
</head>
<body>
    <header>
        <img width="400" height="300" src="../img/header.jpg" alt="Foto de edificios">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/trabajaConNosotros.html">Trabaja con nosotros</a></li>
                <li><a href="../views/redesSociales.html">Redes sociales</a></li>
                <li><a href="../views/acercaDeNosotros.html">Acerca de nosotros</a></li>
                <li><a href="../views/proyectosEnConstrucción.html">Proyectos en construcción</a></li>
            </ul>
        </nav>
        <h1>EMPRESA CONSTRUCTORA SGN</h1>
    <h2>
        OBRAS EJECUTADAS POR LA EMPRESA
    </h2>

    <!-- (AQUI VAN IMAGENES DE OBRAS) -->

    <img src="../img/plano.jpg" alt="Plano de obra ejecutada" class="planoDeObra">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta praesentium similique eius quibusdam, consequuntur dolor beatae officiis sint iure nisi eos. Ratione eum velit, maiores provident eos aliquid rerum vel ipsum dolorum, animi iste aspernatur fugiat maxime illo molestias beatae debitis earum. Est voluptatum veniam veritatis quam enim voluptatem, quaerat dignissimos modi eos molestiae qui nobis consequatur, libero, consectetur dolores accusantium ut porro reprehenderit reiciendis aperiam aliquid molestias adipisci! Amet fugiat ut aliquam earum recusandae molestiae, quod voluptatibus magni eaque voluptate blanditiis ipsum obcaecati provident accusamus voluptatum, mollitia quam, nam laboriosam consectetur rerum repellendus. Vitae in architecto voluptatibus ex?</p>

</body>

<footer>
    <a href="">Tel: 0261-42558456</a>
   <div> <a href="https://es-la.facebook.com/">https://es-la.facebook.com/</a> </div>
   <div><a href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a></div>
    <div> <a href="https://www.instagram.com/">https://www.instagram.com/</a></div>

</footer>

</html>
