<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Proyectos en construcción</title>
</head>
<body class="clase1">
    <header class="encabezado">
        <img height="50%" width="50%" src="../img/header.jpg" alt="Foto de edificios">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/redesSociales.html">Redes sociales</a></li>
                <li><a href="../views/acercaDeNosotros.html">Acerca de nosotros</a></li>
                <li><a href="../views/trabajaConNosotros.html">Trabaja con nosotros</a></li>
                <li><a href="../views/obrasEjecutadas.html">Obras ejecutadas</a></li>
            </ul>
        </nav>
        <h1>
        EMPRESA CONSTRUCTORA SGN
        </h1>
            <h2>
            PROYECTOS EN CONSTRUCCIÓN
            </h2>

    </header>

    <!-- (Aquí van fotos de los proyectos que están en construcción actualmente) -->

        <div class="armaduraDeObra">
            <img width="800px" src="../img/armadura.jpg" alt="Obreros armando estructura del edificio">
        </div>

        <div class="descripcionObra1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta praesentium similique eius quibusdam, consequuntur dolor beatae officiis sint iure nisi eos. Ratione eum velit, maiores provident eos aliquid rerum vel ipsum dolorum, animi iste aspernatur fugiat maxime illo molestias beatae debitis earum. Est voluptatum veniam veritatis quam enim voluptatem, quaerat dignissimos modi eos molestiae qui nobis consequatur, libero, consectetur dolores accusantium ut porro reprehenderit reiciendis aperiam aliquid molestias adipisci! Amet fugiat ut aliquam earum recusandae molestiae, quod voluptatibus magni eaque voluptate blanditiis ipsum obcaecati provident accusamus voluptatum, mollitia quam, nam laboriosam consectetur rerum repellendus. Vitae in architecto voluptatibus ex?</p>
        </div>

        <div class="gruasEnObra">
            <img width="800px" src="../img/gruas.jpg" alt="Grúas trabajando en edificio">
        </div>

        <div class="descripcionObra2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta praesentium similique eius quibusdam, consequuntur dolor beatae officiis sint iure nisi eos. Ratione eum velit, maiores provident eos aliquid rerum vel ipsum dolorum, animi iste aspernatur fugiat maxime illo molestias beatae debitis earum. Est voluptatum veniam veritatis quam enim voluptatem, quaerat dignissimos modi eos molestiae qui nobis consequatur, libero, consectetur dolores accusantium ut porro reprehenderit reiciendis aperiam aliquid molestias adipisci! Amet fugiat ut aliquam earum recusandae molestiae, quod voluptatibus magni eaque voluptate blanditiis ipsum obcaecati provident accusamus voluptatum, mollitia quam, nam laboriosam consectetur rerum repellendus. Vitae in architecto voluptatibus ex?</p>
        </div>


<footer class="pie">
    <div><a href="">Tel: 0261-42558456</a> </div>
    <div> <a href="https://es-la.facebook.com/">https://es-la.facebook.com/</a> </div>
    <div><a href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a></div>
    <div> <a href="https://www.instagram.com/">https://www.instagram.com/</a></div>

</footer>

</body>

</html>
