<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Redes sociales</title>
</head>
<body>
    <header>
        <img width="400" height="300" src="../img/header.jpg" alt="Foto de edificios">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/trabajaConNosotros.html">Trabaja con nosotros</a></li>
                <li><a href="../views/acercaDeNosotros.html">Acerca de nosotros</a></li>
                <li><a href="../views/proyectosEnConstrucción.html">Proyectos en construcción</a></li>
                <li><a href="../views/obrasEjecutadas.html">Obras ejecutadas</a></li>
            </ul>
        </nav>
        <h1>EMPRESA CONSTRUCTORA SGN</h1>
    <h2>
        SEGUINOS EN REDES SOCIALES
    </h2>

    <!-- (Aquí van cuadros tipo box que muestran últimas notificaciones de nuestras redes sociales) -->

</body>

<footer>
    <a href="">Tel: 0261-42558456</a>
   <div> <a href="https://es-la.facebook.com/">https://es-la.facebook.com/</a> </div>
   <div><a href="https://twitter.com/?lang=es">https://twitter.com/?lang=es</a></div>
    <div> <a href="https://www.instagram.com/">https://www.instagram.com/</a></div>

</footer>

</html>
